"*":
  autosave:
    enabled: true
  core:
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "tabs"
    ]
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-light-ui"
      "solarized-light-syntax"
    ]
  editor:
    fontFamily: "Hasklig"
    fontSize: 11
    invisibles: {}
    showIndentGuide: true
  "go-plus": {}
  "platformio-ide-terminal":
    core: {}
  "release-notes":
    viewedVersion: "0.89.0"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  "tree-view": {}
  "vim-mode": {}
  welcome:
    showOnStartup: false
